terraform {
  source = "../../../modules/cluster"
}

inputs = {
  region = "nyc3"
  instance_type = "s-1vcpu-2gb"
  pvt_key = "~/.ssh/id_rsa"
  cluster_name = "openremote-dev"
  environment = "dev"
  node_count = 2
  pgsql_size_gb = 5
  proxy_size_gb = 5
  deployment_size_gb = 5
  manager_size_gb = 5
  frontend_hostname = "openremote-frontend.mysite.org"
  loadbalancer_friendly_name = "dev-fronted-proxy-openremote"
  container_registry = "registry.digitalocean.com/openremote"
  custom_deployment_hash = "xxxx"
  proxy_image_hash = "latest"
}

include "root" {
  # setup backend config with dynamic state key/path selection
  path = find_in_parent_folders()
}
